<?xml version="1.0" encoding="UTF-8"?>
                       <configuration>
                           <system.webServer>
                               <handlers>
                                   <add name="FlaskAppHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\users\ezzou\desktop\dash\venv\scripts\python.exe|c:\users\ezzou\desktop\dash\venv\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
                               </handlers>
                               <security>
                                   <requestFiltering>
                                       <requestLimits maxAllowedContentLength="30000000" />
                                   </requestFiltering>
                               </security>
                               <urlCompression doStaticCompression="true" doDynamicCompression="false" />
                               <staticContent>
                                   <mimeMap fileExtension=".stream" mimeType="text/event-stream" />
                               </staticContent>
                               <httpProtocol>
                                   <customHeaders>
                                       <add name="X-Accel-Buffering" value="no" />
                                   </customHeaders>
                               </httpProtocol>
                           </system.webServer>
                           <appSettings>
                               <add key="PYTHONPATH" value="C:\inetpub\wwwroot" />
                               <add key="WSGI_HANDLER" value="app.app" />
                           </appSettings>
                       </configuration>